#  ignore everything in __pycache__ directories
__pycache__/
#  ignore Python compiled files
*.pyc
*.pyo
*.pyd
*.cpython-*.pyc
*.cpython-312.pyc
*__pycache__/save_game.cpython-312.pyc

#ignore save game files
save_games/
*.txt